<div class="col-md-12">
  <div class="card card-container">
    <h1 class="align-content-center">Zarejestruj się!</h1>
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="username">Nazwa Użytkownika</label>
        <input
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="form.username"
          required
          minlength="3"
          maxlength="20"
          #username="ngModel"
        />
        <div class="alert-danger" *ngIf="username.errors && f.submitted">
          <div *ngIf="username.errors.required">Nazwa Użytkownika jest wymagana</div>
          <div *ngIf="username.errors.minlength">
            Nazwa użytkownika musi mieć co najmniej 3 znaki
          </div>
          <div *ngIf="username.errors.maxlength">
            Zbyt długa nazwa użytkownika, maksimum 20 znaków
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          email
          #email="ngModel"
        />
        <div class="alert-danger" *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors.required">Email jest wymagany</div>
          <div *ngIf="email.errors.email">
            Email musi być prawidłowy
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Hasło</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
        />
        <div class="alert-danger" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors.required">Hasło jest wymagane</div>
          <div *ngIf="password.errors.minlength">
            Hasło musi mieć co najmniej 6 znaków
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">Zarejestruj</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Rejestracja nie powiodła się!<br />{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Rejestracja przeprowadzona pomyślnie!
    </div>
  </div>
</div>
